# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Git
# =========================
.git

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Flutter
# =========================
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages

# =========================
# Android / iOS
# =========================
**/.gradle/
**/android/.gradle/
**/ios/Pods/

# =========================
# Node.js
# =========================
**/node_modules/
npm-debug.log*

# =========================
# Python
# =========================
**/venv/
**/__pycache__/
**/*.pyc

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log